@charset "utf-8";

// Define defaults for each variable.

// font-family: 'Unica One', cursive;
// font-family: 'Crimson Text', serif;


// COLORS
// rgb(33, 200, 209) - Teal
// rgb(255,255,255) - White
// rgb(0,0,0) - Black


/* =========================== GLOBAL STYLES ========================= */

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unica One', cursive;
}

p {
    font-family: 'Crimson Text', serif;
}
