
/* ===================== PORTFOLIO PAGE POSITIONING =================== */

html {
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(217, 217, 217);
  display: flex;
  justify-content:center;
  align-items: center;
}

.content {
  width: 90%;
  height: 85%;
  background-color: rgb(255,255,255);
  display: flex;
  flex-wrap: wrap;
}

/*-------------------  Meta-Info Positioning  ---------------- */
.info {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.info-wrapper {
  width: 45%;
  height: 65%;
}

/*----------------  Image Section Positioning  ---------------- */
.images {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.carouselWrapper {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content:center;
  align-items: center;
}



/* ======================= PORTFOLIO PAGE TYPOGRAPHY ===================== */

.title {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0;
}

.substrate-method {
  font-style: italic;
  color:rgb(33, 200, 209);
  margin-top: 0;
  font-size: 1.25em;
}

.copy {
  color:rgb(71, 71, 71);
  font-size: 1.125em;
}

.meta-categories {
  padding:0;
}

.cat-title {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  margin-bottom: 0;
}

.describer {
  margin-top: 0;
  font-style: italic;
}

a.nav-back {
  font-family: 'Unica One', cursive;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color:rgb(192, 192, 192);
  font-style: italic;
}

a.nav-back:hover {
  color:rgb(71, 71, 71);
  font-style: normal;
}
