<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}


<body>

  <main class="content">

<!-- INFORMATION SECTION FOR THE PORTFOLIO ITEM -->
    <section class="info">

        <section class="info-wrapper">

        <nav>
          <ul class="subNav">
              <li><a href="index.html" class="subNav-item">&lt;-home</a></li>
              <li><a href="#" class="subNav-item">&lt;-design</a></li>
              <li><a href="#" class="subNav-item">&lt;-web</a></li>
          </ul>
        </nav>

          <div class="info-header-wrapper">

              <div class="header-icon">
                <img src="/icons/{{page.tags}}_icon.svg" width="45" height="45">
              </div>

              <header class="title_wrapper">
                <h2 class="title_lg">{{ page.collection }}</h2>
          </header>

          </div>

          <article class="copy-description">
            <p class="copy_lg">{{ content }}</p>
          </article>


      </section>

    </section>

<!--  SECTION FOR THE PROJECT ITEMS  -->
    <section class="projects">

      <ul class="listWrapper">

        <li class="project_item">
          <a href="portfolio.html">
              <div class="project_thumbnail">
                <img src="{{ page.thumbnail }}"  width="100%" alt="">
              </div>
              <div class="project_info">
                 <h4 class="project_title">{{ page.project_title }}</h4>
                 <p class="project_subtitle">Apex Predators</p>
             </div>
          </a>
        </li>

        <li class="project_item">
          <a href="#">
              <div class="project_thumbnail">
                <img src="img/Leo_thumb.png"  width="100%" alt="">
              </div>
              <div class="project_info">
                 <h4 class="project_title">Ballpark Series</h4>
                 <p class="project_subtitle">America's Pastime</p>
             </div>
          </a>
        </li>

        <li class="project_item">
          <a href="#">
              <div class="project_thumbnail">
                <img src="img/Leo_thumb.png"  width="100%" alt="">
              </div>
              <div class="project_info">
                 <h4 class="project_title">Warship Series</h4>
                 <p class="project_subtitle">History comes alive</p>
             </div>
          </a>
        </li>

      </ul>

    </section>

  </main>


</body>

</html>
