<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/collection.css" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Unica+One" rel="stylesheet">

     <title>ST5K DESIGN</title>


</head>


<body>

  <main class="content">
<!-- INFORMATION SECTION FOR THE PORTFOLIO ITEM -->
    <section class="info">

        <section class="info-wrapper">

        <nav>
          <ul class="subNav">
              <li><a href="index.html" class="subNav-item">&lt;-home</a></li>
              <li><a href="#" class="subNav-item">&lt;-design</a></li>
              <li><a href="#" class="subNav-item">&lt;-web</a></li>
          </ul>
        </nav>

          <div class="info-header-wrapper">

              <div class="header-icon">
                <img src="img/print_icon.svg" width="45" height="45">
              </div>

              <header class="title_wrapper">
                <h2 class="title_lg">Prints</h2>
          </header>

          </div>

          <article class="copy-description">
            <p class="copy_lg">Screenprinting has become a passion of mine recently. I have used this medium as a way to produce artwork that includes various subjects I am interested in. From history, to sports, to taxonomy, I cover many topics in my posters and t-shirts of which will be available for purchase in time.</p>
          </article>


      </section>

    </section>

<!--  SECTION FOR THE PROJECT ITEMS  -->
    <section class="projects">

      <ul class="listWrapper">

        <li class="project_item">
          <a href="portfolio.html">
              <div class="project_thumbnail">
                <img src="img/Leo_thumb.png"  width="100%" alt="">
              </div>
              <div class="project_info">
                 <h4 class="project_title">Predator Series</h4>
                 <p class="project_subtitle">Apex Preditors</p>
             </div>
          </a>
        </li>

        <li class="project_item">
          <a href="#">
              <div class="project_thumbnail">
                <img src="img/Leo_thumb.png"  width="100%" alt="">
              </div>
              <div class="project_info">
                 <h4 class="project_title">Ballpark Series</h4>
                 <p class="project_subtitle">America's Pastime</p>
             </div>
          </a>
        </li>

        <li class="project_item">
          <a href="#">
              <div class="project_thumbnail">
                <img src="img/Leo_thumb.png"  width="100%" alt="">
              </div>
              <div class="project_info">
                 <h4 class="project_title">Warship Series</h4>
                 <p class="project_subtitle">History comes alive</p>
             </div>
          </a>
        </li>

      </ul>

    </section>

  </main>


</body>

</html>
