<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="content">

      <section class="info">

          <section class="info-wrapper">

            <a href="collection.html" class="nav-back">&lt;-back to collection</a>

            <header class="title_wrapper">
              <h2 class="title">{{ page.title }}</h2>
              <p class="substrate-method">{{ page.substrate }} {{ page.method }}</p>
            </header>

            <article class="copy-description">
              <p class="copy">{{ content }}</p>
            </article>

            <section class="meta-info">
              <ul class="meta-categories">

                <li class="category">
                  <p class="cat-title">category</p>
                  <p class="describer">{{ page.category }}</p>
                </li>

                <li class="category">
                  <p class="cat-title">tools used</p>

                  <ul class="icons">
                    {% for tag in page.tags %}
                        <li>
                          <img src="/icons/{{tag}}.svg" width="15" height="15">
                        </li>
                    {% endfor %}
                  </ul>

                </li>

              </ul>
            </section>

        </section>

      </section>

      <section class="images">

        <div class="carouselWrapper">

          <img src="img/Panthera_Leo_BlackShirt.png" height="100%" alt="">

        </div>

      </section>

    </main>


  </body>

  </html>
