<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main class="content">

      <section class="info">

          <section class="info-wrapper">

            <div class="logo-small">
                <a href="index.md"><img src="img/st5k_logo.svg" width="65" height="65"></a>
            </div>

            <header class="title_wrapper">
              <h2 class="title">Panthera Leo</h2>
              <p class="substrate-method">t-shirt; screenprint</p>
            </header>

            <article class="copy-description">
              <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>

            <section class="meta-info">
              <ul class="meta-categories">

                <li class="category">
                  <p class="cat-title">category</p>
                  <p class="describer">personal work</p>
                </li>

                <li class="category">
                  <p class="cat-title">tools used</p>

                  <div class="icons">
                    <img src="img/Illustrator.svg" width="15" height="15">
                    <img src="img/Photoshop.svg" width="15" height="15">
                  </div>

                </li>

              </ul>
            </section>

        </section>

      </section>

      <section class="images"></section>

    </main>


  </body>

  </html>
